*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    background-image: url(./images/tree.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    height:10rem;
    margin-top:5.7rem;
}

h2{
    margin-top:2rem;
}

.box{
    background-color: lightgray;
    display: inline-block;
    width: 10%;
    height: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 5rem;
}

footer {
    position:fixed;
    text-align: center;
    bottom: 4rem;
    /* display: inline-block; */
    width: 100%;
}
footer .left {
    background-color:red;
}

footer .left:hover,
footer .middle:hover,
footer .right:hover{
    background-color:yellow
}
